*{
    font-family: Arial, Helvetica, sans-serif;  
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    font-size: 25px;
}

h2 {
    background-color: darkblue;
    color: #FFFF;
    padding: 20px;
    font-size: 50px;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

p {
    padding: 20px;
    background-color: antiquewhite;
}

.title {
    text-align: center;
    font-size: 60px;
    font-weight: 200;
    background-color: blue;
    color: #FFFF;
    padding: 10px;
}

ol {
    padding: 20px 40px;
    background-color: antiquewhite;
}

ul {
    background-color: antiquewhite;
    font-weight: bold;
    list-style-type: none;
    padding: 20px 0px;
}

li {
    padding: 10px;
    margin-bottom: 10px;
}

.pizza{
    background-color: #c9123a;
}

.big-mac{
    background-color: gold;
}

.cheese-rolls {
    background-color: chartreuse;
}

.home-link{
    max-width: 960px;
    height: 20px;
    width: 100%;
    background-color: blueviolet;
    display: block;
    text-align: center;
    padding: 20px;
}

img {
    height: auto;
    width:100%;
    margin: auto;
    display: block;
}

.recipe {
    text-align: center;
}