*{
    font-family: Arial, Helvetica, sans-serif;  
    margin: auto;
    padding: 0;
    text-align: center;
    font-size: 25px;
}

h2 {
    background-color: darkblue;
    color: #FFFF;
    padding: 20px;
    font-size: 50px;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

p {
    padding: 20px;;
}

.title {
    text-align: center;
    font-size: 150px;
    font-weight: 200;
    background-color: blue;
    color: #FFFF;
    padding: 10px;
}

ul {
    text-align: center;
    font-weight: bold;
    list-style-type: none;
}

li {
    padding: 10px;
}

.pizza{
    background-color: #c9123a;
}

.big-mac{
    background-color: gold;
}

.cheese-rolls {
    background-color: chartreuse;
}

.home-link{
    height: 20px;
    width: 55px;
    background-color: blueviolet;
    display: flex;
    text-align: center;
    padding: 20px;
}

img {
    height: 500px;
    width:auto;
    margin: auto;
    display: block;
}